<a href="https://colab.research.google.com/github/George-Taylor-Woodward-School-Account/Python/blob/main/Fix_Broken_Code_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE 1

In [1]:
print("Hello, world!")

Hello, world!

What was the error ?
Answer :

In [2]:
my_number = 10
print(my_number)

10

What was the error ?
Answer :

In [4]:
def greet():
  name = input("Enter your name: ")
  print("Hello, " + name)

What was the error ?
Answer :

In [17]:
age = int(input("Enter your age: "))
age += 1
print("Next year, you will be ", str(age))

Enter your age: 5
Next year, you will be  6

What was the error ?
Answer :

In [24]:
def add_numbers(A, B):
    return 'a' + 'b'
print(add_numbers('5', '3'))

ab

What was the error ?
Answer :

In [29]:
def multiply(x, y):
  return x * y

print(multiply(4, 2))

8

What was the error ?
Answer :

In [ ]:
numbers = [1, 2, 3, 4, 5]
for i in numbers
    print i

What was the error ?
Answer :

In [34]:
student = {"name": "Alex", "age": 21}
print(student["name"])

Alex

What was the error ?
Answer :

In [36]:
def check_even(n):
    if n % 2 == 0:
        print("Even")
    else:
        print("Odd")

check_even(4)

Even

What was the error ?
Answer :