<a href="https://colab.research.google.com/github/George-Taylor-Woodward-School-Account/Python/blob/main/Fix_Broken_Code_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIX BROKEN CODE EX -2

What's wrong with this code ? : <answer here>

In [ ]:
def calculate_area(width, height):
  area = width * height;
  return "The area is: " + str(area)

print(calculate_area(5, 3))
# should output 15

The area is: 15

What's wrong with this code ? : <answer here>

In [ ]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)
        print("Calculating factorial...")

print(factorial(5))
# should output 120

120

What's wrong with this code ? : <answer here>

In [ ]:
items = ["apple", "banana", "cherry"]
for i in range(len(items)):
  print(items[i])
# should output :
  # apple
  # banana
  # cherry

apple
banana
cherry

What's wrong with this code ? : <answer here>

In [ ]:
name = "Alice"
age = 25
print("Name: " + name + ", Age: " + str(age))
# should output : Name: Alice, Age: 25

Name: Alice, Age: 25

What's wrong with this code ? : <answer here>

In [11]:

# This function has multiple issues but is easier to debug.
def process_data(data_list):
    result = []
    for i in range(len(data_list)):
        if data_list[i] % 2 == 0:
            result.append("Even: " + str(data_list[i+1]))
        else:
            result.append("Odd: " + str(data_list[i-1]))

    return result

data = [1, 2, 3, 4, 5]
print(process_data(data))

# Expected Output (if errors are fixed):
# ['Odd: 1', 'Even: 2', 'Odd: 3', 'Even: 4', 'Odd: 5']

['Odd: 5', 'Even: 3', 'Odd: 2', 'Even: 5', 'Odd: 4']

What's wrong with this code ? : <answer here>

In [ ]:
def greet(name):
    return f"Hello, {name}"

print(greet("John"))
# should output : Hello, John

Hello, John

What's wrong with this code ? : <answer here>

In [ ]:
# This function processes customer orders and calculates discounts
def process_orders(orders):
    total_price = int(0)
    for order in orders:
        if "price" in order and "quantity" in order:
            total_price = order["price"] * order["quantity"]
        else:
            print("Invalid order: " + str(order))

    discount = 0.1
    if total_price > 100:
      pass
    else:
      pass
    final_price = total_price - total_price * discount
    return "Total after discount: " + final_price

orders = [
    {"item": "Laptop", "price": 900, "quantity": 1},
    {"item": "Mouse", "price": 25, "quantity": 2},
    {"item": "Keyboard", "price": "50", "quantity": 1},
    {"item": "Monitor", "quantity": 1}
]

print(process_orders(orders))

# Expected Output (if errors are fixed):
# 'Total after discount: 927.0'

Invalid order: {'item': 'Monitor', 'quantity': 1}

TypeError: '>' not supported between instances of 'str' and 'int'